@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Spartan", sans-serif;
}

body {
    width: 100%;
    background-color: #eee;
}

/* Header Start */

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #deb887;
    padding: 20px 80px;
    box-shadow: 20px 20px 30px rgba(196, 126, 35, 0.2);
}
.logo {
    height: 60px;
    border-radius: 5px;
}
#header h1 {
    font-size: 40px;
    color: white;
    font-family: "Spartan", sans-serif;
    padding: 0 0 0 100px;
}
#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 40px;
    position: relative;
}
#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: 0.3s ease;
}
#navbar li a:hover,
#navbar li a.active {
    color: black;
}
.carto {
    padding: 8px 10px;
    border-radius: 40px;
    background-color: #deb887;
    color: black;
    border: 1px solid #fff;
}
#mobile {
    display: none;
    align-items: center;
}
#navbar #close {
    display: none;
}
/*#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background-color: red;
    position: absolute;
    bottom: -4px;
    left: 40px;
} 

/* Product 1 */

.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin-bottom: 30px;
}
.section-p1 h1 {
    font-size: 40px;
    padding: 30px 0 60px 0;
    color: rgba(196, 126, 35, 0.74);
}
#product1 {
    text-align: center;
}

#product1 .product-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .product {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 2px solid #deb887;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(196, 126, 35, 0.1);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .product:hover {
    box-shadow: 20px 20px 30px rgba(196, 126, 35, 0.2);
}
#product1 .product img {
    width: 100%;
    border-radius: 20px;
}
#product1 .product .des {
    text-align: start;
    padding: 10px 0;
}
#product1 .product h4 {
    text-align: start;
    padding: 10px 0;
    font-weight: 700;
}
#product1 .product-container .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #deb887;
    color: black;
    border: 1px solid #fff;
    position: absolute;
    bottom: 20px;
    right: 30px;
}
/* Email Sign Up*/

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url();
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: #deb887;
}
#newsletter {
    font-size: 22px;
    font-weight: 700;
    color: white;
}
#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}
#newsletter p span {
    color: #fff123;
}
#newsletter input {
    height: 3.125rem;
    padding: 0 1.25em;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}
#newsletter .form {
    width: 20%;
}
button.normal {
    font-size: 14px;
    font-weight: 600;
    height: 3rem;
    padding: 0 1.25em;
    color: black;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
    margin-top: 3px;
}

#newsletter button {
    background-color: white;
    border: 1px solid transparent;
    white-space: nowrap;
}
#newsletter button:hover {
    background-color: #ffffff9d;
}

/* Footer*/

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}
footer .logo {
    margin-bottom: 20px;
    height: 100px;
}
footer a,
footer i {
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.2s ease;
}
footer .col a:hover,
footer .col i:hover {
    color: #deb887;
}
footer a:visited {
    color: black;
}
footer .col h4 {
    margin: 10px 0 20px 0;
}
footer .copyright {
    display: flex;
    align-items: center;
}

/* Contact Page */

/* Single Product */

/* Start Media Query*/

@media (max-width: 1024px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 201vh;
        width: 300px;
        background-color: #deb887;
        box-shadow: 0 40px 60px rgba(196, 126, 35, 0.2);
        padding: 80px 0 0 10px;
        transition: 0.3s;
        z-index: 999;
    }
    #navbar.active {
        position: absolute;
        right: 0px;
    }
    #navbar li {
        margin-bottom: 25px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }
    #mobile i {
        color: #1a1a1a;
        font-size: 24px;
        margin: 0 5px 0 5px;
    }
    #navbar #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #222;
        font-size: 24px;
    }
    #lg-bag {
        display: none;
    }
    #product1 .product-container {
        justify-content: center;
    }
    #product1 .product {
        margin: 15px 20px;
    }
    #newsletter .form {
        margin-top: 10px;
        width: 70%;
        display: flex;
    }
    #newsletter .form .normal {
        margin-left: 15px;
    }
}
@media (max-width: 477px) {
    .section-p1 {
        padding: 80px 20px 40px 20px;
    }

    #header {
        position: fixed;
        padding: 10px 30px;
        width: 100%;
        z-index: 999;
    }
    #header h1 {
        font-size: 25px;
        padding: 0 10px 0 20px;
    }
    .logo {
        height: 60px;
    }
    .section-p1 h1 {
        font-size: 30px;
    }
    #product1 .product {
        width: 100%;
        margin: 20px 40px;
    }

    #newsletter .form {
        width: 100%;
    }
}
